:root {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: black;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button:hover, button:active{

  opacity: 0.7;

  
}
button{
  color: white;
}

header{
  position: fixed;
  margin-top: 0;
  width: 100vw;
  height: 7vh;
  background-image:linear-gradient(to right, #D5E7F2,#D5D7F2, #AEACF2);
  color: #213547;
  padding-left: 10vw;
  /* height: 15vh; */
  
}
.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  width: 90vw;
  
}
.header-nav h1{
  padding-left:5px;
  font-size: 2rem;
}
.header-nav img{
  /* margin-top: 10px; */
  height:5vh;
  border-radius: 50%;

  
}
.header-name{
  display: flex;
  gap: 5px;
  align-items: center;
}
.header-nav a{
  font-size: 1rem;
  text-decoration: none;
  padding: 3vh;
  color: #213547;
  font-weight: 600;
  
}
.header-nav a:hover{
  color: white;
}
.left-nav{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 2%; */
  left: 0 !important;
  width: 4vw;
  height: 20vh;
  margin: 0;
  top: 40%;
  bottom: 30%;
  background-color: #f9f9f9;
}
.left-nav img{
  padding: 0.7vh;
  width: 2vw;
}
.left-nav a:hover{
  background-color: #A599F2;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  font-size: 1rem;
  background-image:linear-gradient(to right, #D5E7F2,#D5D7F2 );
  color: rgb(48, 10, 48);
  padding: 1%;


}
section{
  padding-right: 7.5vw;
  padding-left: 7.5vw;
}

.name-card{
  padding-top: 10vh;
  display: flex;
  flex-direction: row;
  height: 85vh;
  background: url("background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
 
  /* background-size: auto; */
  /* background-blend-mode: color; */

}
.name-card-info h1{
  font-size: 3rem;
}
.name-card-info{
  flex-basis: 60%;
  align-content: space-evenly;
  padding-left: 20px;
}
.name-card-info p{
  font-size: 1rem;
  
}
.name-card-info a{
  padding: 1rem 1.5rem;
  font-size: 1rem;
  background-color: #A599F2;
  border: none;
  text-decoration: none;
  border-radius: 5%;
  color: white;
}
.name-card-info a:hover{
  /* display: block; */
  opacity: 0.5;
  color: white;
}
.name-card-img{
  flex-basis: 30%;
  align-content: space-evenly;
  align-items: center;
  padding-left: 10vw;
}
.name-card-img img{
  height: 35vh;
  
  border-radius: 50%;
}

.about-main{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15vh;
  width: 78vw;
  padding-bottom: 20vh;
  /* background: radial-gradient(600px at 1346px 551px, rgb(207 33 99 / 15%), transparent 80%); */



}
.about-content{
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  /* align-items: evenly-spaced; */
  /* justify-content: center; */
  
}
/* .about-content div{
  width: 40vw;
  
  
} */

.about-info{
  text-align: left;
  padding-right: 5vw;
  padding-left: 5vw;
}
.skills{
  display: flex;
  flex-wrap: wrap;
}
.skills span {
  /* width: 350px;
  height: 200px; */
  margin: 5px;
  padding: 10px;
  background-color: #AEACF2;
  color:white;
}
.project-section{
  display: flex;
  flex-direction: row;
  gap:5vw;
  margin-bottom: 10vh;
  align-content: center;
  justify-content: center;
  
}
.project-images{
  
  padding-left: 5vw;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}
.bg{
  background-image: url("mac.png");
  padding-right: 40px;
  height: 130px;
  width: 220px;
  padding-top: 15px;
  padding-left: 40px;
  padding-bottom: 40px;
  background-size: cover;
}
.center{
  text-align: center;

}
.project-content{
  display: flex;
  flex-direction: row;
  gap: 5vw;
  

}
.project-content button{
  width: 10vw;
  height: 5vh;
  font-size: 1rem;
  background-color: #A599F2;
  border: none;
  border-radius: 5%;
}
.contact{
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
 
}
.contact button{
  width: 10vw;
  height: 5vh;
  font-size: 1rem;
  background-color: #A599F2;
  border: none;
  border-radius: 5%;
}
form{
 display: flex;
 flex-direction: column;
 /* align-items: center; */
 background-color: #D5D7F2;
 width: 50vw;
 padding-top: 10vh;
 padding-bottom: 10vh;
 gap: 1vh;
 padding-left: 20vw;
 
}
label{
  font-size: 1rem;
  text-align: left;

}
input, textarea{
  width: 30vw;
  background-color: whitesmoke;
  border-radius: 5px;
  border: none;
}
textarea{
  height: 20vh;
}


@media only screen and (max-width: 900px){
  :root{
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1;
    font-weight: 400;
    font-size: 10px;
    background-color: white;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
}
/* footer{
  height: 10vh;
} */
.header-nav h1 {
  padding-left: 5px;
  font-size: 1.5rem;
}
.header-nav a {
padding: 0.4vh;
}
.left-nav{
  width: 6vw;
  height: 10vh;
}
.left-nav img{
  width: 4vw;
}
h1{
    font-size: 1rem;
    line-height: 2.6rem;
}
.name-card-img img{
  height: 30vh;
}
.name-card{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 85vw
}
.name-card-info {
  flex-basis: 50%;
 }
.name-card-info a {
  width: 20vw;
  height: 3vh;
}
.about-main{
  margin-top: 5vh;
  padding-bottom: 5vh;
}
.about-content{
  flex-direction: column;
}
.project-content{
  flex-direction: column;
}
.project-content button{
  width: 19vw;
  height: 3vh;
}
.about-skills{
  padding-left: 5vw;
}
form{
  width: 60vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 15vw;
}
input, textarea {
  width: 45vw;
}
.contact button {
  width: 19vw;
  height: 3vh;
}
}

